.ContornoExterior{
    padding: 7px;
    padding-bottom: 50px;
    border: black 2px solid;
}
.nivel0 > div > div
{
    border: black 1px solid;
}
.nivel0 > div > div > div > div
{
    border-bottom: black 1px solid;
}
.padre
{
    position: relative;
}
.hijo
{
    position: absolute;
    top: 25%;
    margin-left: 25%;
}
.titulo
{
    font-size: 13px;
    font-weight: bold;
}
.titulo2
{
    font-size: 13px;
}
.subtitulo
{
    font-size: 12px;
}

.nivel1 > div
{
    display: inline-block;
}

input
{
    width: 100%;
    border-style: none;
}
#checkbox{
    width: 100%;
}