body
{
    width: 21.59cm;
    height: 27.94cm;
    margin: 10px;
}
.ContornoExterior{
    padding: 7px;
    padding-bottom: 10px;
    border: black 2px solid;
}
.nivel0 > div > div
{
    border: black 1px solid;
}
.nivel0 > div > div > div > div
{
    border-bottom: black 1px solid;
}
#Centrado
{
    margin: auto;
}

.rote
{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    width: 170%;
    margin-top: 65%;
}
.titulo
{
    font-size: 10px;
    font-weight: bold;
}
.titulo2
{
    font-size: 9px;
}
.subtitulo
{
    font-size: 10px;
}

.nivel1 > div
{
    display: inline-block;
}

input
{
    width: 100%;
    height: 17px;
    border-style: none;
    font-size: 12px;
}
textarea
{
    font-size: 11px;
    border-style: none;
}
textarea:hover
{
  border: #18ba0d 1px solid;
}
.estiloCheckBox-Incidentes
{
    padding-top: 15px;
}

.estiloCheckBox-Incidentes > div > div
{
  text-align: left;
  width: auto;  
  padding-left: 5px;
  
}
.estiloCheckBox-Incidentes > div > div > input
{
  width: 10px;
}

.responsablesfirma
{
    font-size: 8px;
}
.pieFirmas
{
  padding-top: 60px;  
  width: 90%;
  margin: auto;
}

hr
{
   color: black;
   height: 10px;
   margin: 0%;
}

/*
*Estilo que deshabilita el raton y le da un opacidad al 
*/
.disableDiv 
{
    pointer-events: none;
    opacity: 0.4; 
}

